@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300');
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.first {
  max-width: 700px;
}

.first h1{
  font-size: 45px;
  font-family: 'Amatic SC', cursive;
}
.statement{
  font-size: 18px;
  display: none;
  opacity: 0;
  transition: all 6s;
  font-family: 'Open Sans Condensed', sans-serif;
}
.statementPromote{
  color: red;
  font-size: 24px;
  font-family: 'Amatic SC', cursive;
}
.second{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.secHeader{
  width: 100%;
}
.secHeader h1{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  margin: 15px;
}
.projects{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project{
  display: block;
  position: relative;
  max-width: 480px;
  margin: 5px;
}

.project img{
  width: 100%;
}
.hidden {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.9);
  text-align: center;
  opacity: 0;
  transition: 1s;
  color: white;
}
.show {
  opacity: 1;
}
.hidden h1{
  font-size: 40px;
  margin: 20px 0 20px 0;
}
.hidden p{
  font-size: 15px;
  margin: 20px 10px;
}
.hidden a{
  font-size: 30px;
}

.hidden a:hover{
  color: lightblue;
  user-select: none;
}

.third{
  width: 75%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
iframe{
  margin: 0 auto;
  padding: none;
  border: none;
  width: 65%;
  min-height: 650px;
}
footer{
  margin: 10px 0;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social{
  margin-top: 10px;
}

.social i{
  font-size: 30px;
  margin: 5px;
}
.social i:hover{
  color: lightblue;
}
footer p{
  margin: 0 10px;
}
footer button{
  background: none;
  padding: 5px;
  border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
  .hidden h1{
    font-size: 30px;
    margin: 5px 0 5px 0;
  }
  .hidden p{
    font-size: 10px;
    margin: 5px 0;
  }
  .hidden a{
    font-size: 15px;
  }
  iframe{
    width: 100%;
    min-height: 400px;
  }
}