body{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    background: black;
    overflow: hidden;
}
.left{
    min-width: 300px;
    height: 750px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0;
}
.left h1{
     padding: 0;
     margin: 10px;
}
.left p{
    margin: 0;
    padding-bottom: 40px;
}

.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url("../img/me.jpg");
    background-position: -45% 22%;
    background-size: 200px;
    background-repeat: no-repeat;
}

.left ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.left ul a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 0 0 0 ;
}
.left ul a:hover{
    color: skyblue;
}
.right {
    flex-grow: 1;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-left: 2px solid grey;
    text-align: center;
}
.right img{
    width: 200px;
}

.middle{
    flex-grow: 1;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.middle img{
    width: 200px;
}

/* Future plans: 
make '.left' stay in view when scrolling (needs js I think)
fix the height?
*/